
{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
        <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>
            <!-- Comments count of Disqus, Deprecated in 11/04/2017
			{% if site.comments == true and page.comments == true and site.disqus != '' %}
                <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p>
            {% endif %}-->
			{% include post-tags.html %}
            <div class="post-content">
            {{ content }}
            </div>
			<!-- add copyright information and donate links -->
			<blockquote>
			<p>版权声明：本文为博主原创文章，未经博主允许不得转载。如需转载，请联系<a href="zlj@lreis.ac.cn">zlj@lreis.ac.cn</a>，或在博文下留言，谢谢！</p>
			<p>All rights reserved: It’s not allowed to use this post in any form include reproduce and modify without the original author’s permission. If any need, please contact <a href="zlj@lreis.ac.cn">zlj@lreis.ac.cn</a>. Thank you!</p>
			</blockquote>
			<!-- end -->
			<!-- Donate links -->
			<!-- <div class ="post-donate"> -->
				<div id="donate_board" class="donate_bar center">
					<!-- <a id="btn_donate" class="btn_donate" href="javascript:;" title="Donate 打赏"></a> -->
					<span class="donate_txt">
					<!-- &uarr;<br> -->
					Buy me a cup of coffee for more and higher quality posts! Thank you!
					</span>
					<!-- <br> -->
				</div>
                <div id="donate_guide" class="donate_bar center">
					<img src="http://zhulj-blog.oss-cn-beijing.aliyuncs.com/aboutMe%2Falipay.jpg" title="支付宝打赏" height="160px" width="160px">
					<img src="http://zhulj-blog.oss-cn-beijing.aliyuncs.com/aboutMe%2Fwechat.jpg" title="微信打赏" height="160px" width="160px">
                    <a href="paypal.me/ljzhu" <img src="http://zhulj-blog.oss-cn-beijing.aliyuncs.com/aboutMe/pplogo384.png" title="Paypal me" height="160px" width="160px"></a>
				</div>
			<!-- end -->
			{% if page.comments %}
			<!-- comments start using disqus-->
			<!--<div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div> Deprecated in 11/04/2017-->
            <div id="gitmentContainer"></div>
            <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
            <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
            <script>
                var gitment = new Gitment({
                    owner: '{{site.github_username}}',
                    repo: '{{site.comment_gitment_repo}}',
                    oauth: {
                        client_id: '{{site.comment_gitment_clientId}}',
                        client_secret: '{{site.comment_gitment_clientSecret}}',
                    },
                });
                gitment.render('gitmentContainer')
            </script>
			{% endif %}
			</div>
		</div>
		<!-- add back to up button -->
		<div id="back-top">
		  <a href="#top" title="back-to-top">
			<i class="fa fa-arrow-up fa-2x"></i>
		  </a>
		</div>
		<script type="text/javascript">
		$("#back-top").hide();
		$(document).ready(function () {
		  $(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
			  $('#back-top').fadeIn();
			} else {
			  $('#back-top').fadeOut();
			}
		  });
		  $('#back-top a').click(function () {
			$('body,html').animate({
			  scrollTop: 0
			}, 500);
			return false;
		  });
		});
		</script>
		<div class="pagination">
			{% if page.next %}
			<a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
			{% endif %}
			{% if page.previous %}
			<a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
			{% endif %}
		</div>
	</div>
</div>
<!--{% include disqus-comments.html %} Deprecated in 11/04/2017-->
{% include footer.html %}
